.detailContain{
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.detailSubContain{
    border: solid 1px ;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    width: 900px;
    height: auto;
    background-color: rgba(0, 0, 160, 0.199);
}
.detailInfo{
    display: flex;
}
.detailCountry{
    width: 450px;
}
.detailCountryImg{
    width: 100%;
    height: 350px;
    border-radius: 20px 0 0 0 ;
}
.detailContainText{
    background-color: rgba(1, 1, 168, 0.623);
    border-radius: 0 20px 0 0;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.detailText{
    font-size: 30px;
}
.titleActivities{
    text-align: center;
}
.detailContainActivity{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.detailCardActivity{
    width: 180px;
    height: 80px;
    border: solid 1px rgb(0, 119, 255);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.detailContainBtn{
    display: flex;
    justify-content: center;
}
.detailBtn{
    padding: 4px 8px;
    margin: 10px;
    border-radius: 10px;
    border: 0;
    background-color:rgb(65, 90, 119);
    font-size: 20px;
    color: white;
}
.detailBtn:hover{
    color: rgb(0, 119, 255);
    cursor: pointer;
    
}