.searchContain{
    width: 320px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    
}
.searchInput{
    height: 28px;
    width: 250px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: solid 1px rgb(0, 119, 255);
    padding-left: 10px;
    outline: none;
    color: white;
}
.searchBtn{
    background-color: rgb(0, 33, 179);
    border: none;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    font-size: 15px;
    color: white;
}
.searchBtn:hover{
    background-color: rgb(70, 94, 202);
}