.paginadoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.active{
    background-color: rgb(100, 100, 100);
    width: 28px;
    height: 30px;
    border-radius: 6px;
    margin: 5px;
    color: white;
    border: none;
    cursor: pointer;
    border: solid 2px black;
    font-size: 16px;
}
.active:hover{
    background-color: black;
    border-radius: 6px;
}
.active:focus{
    background-color: black;
    border: solid 2px rgb(0, 119, 255);
}